{% extends "layout/layout.html" %}
{% block body %}

<!--SECTION-->
<section id="contenido">
    <article>
        <div id="bloque_1">
            <h2>ULTIMO PRODUCTO</h2>
            <img src="" alt="">
            <button onclick="window.location='producto'">Ver</button>
        </div>
        <div id="bloque_2">
            <h2>ULTIMO PRODUCTO</h2>
            <img src="" alt="">
            <button onclick="window.location='producto'">Ver</button>
        </div>
        <div id="bloque_3">
            <h2>ULTIMO PRODUCTO</h2>
            <img src="" alt="">
            <button onclick="window.location='producto'">Ver</button>
        </div>

        <div id="bloque_Max">
            <h2>MÁS PRODUCTOS</h2>
            <li>
                <ul>
                    <a href="producto">Titulo producto</a>
                    <a href="producto">Titulo producto</a>
                    <a href="producto">Titulo producto</a>
                    <a href="producto">Titulo producto</a>
                </ul>
            </li>

        </div>
    </article>
</section>


{% endblock %}