*{ 
    margin: 0%; 
    padding: 0%; 
} 
body{ 
    background-color: rgb(255, 255, 255); 
    color: rgb(68, 68, 68); 
} 
#contenedor{ 
    max-width: 95%; 
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    overflow: hidden; 
} 


/* ENCABEZADO */
h1{
    text-align: center;
}
header{ 
    height: 6em; 
    background-color:rgb(31, 129, 6);
    color: rgb(255, 255, 255);  
    border-radius: 5px;
    padding-right: 10PX;
     
} 
#encabezado {
    font-size: 1em;
    text-align: right;
    line-height: 8em;
}

/* MENU */
 
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
   
}
.navbar-left {
    float: left;
}

/* CUERPO */
#contenido{ 
        width: 98%;
        height: auto;
        padding-block-end: 1em;
        margin: 50px auto;  
      
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        background: rgb(255, 255, 255);  
    
} 
#bloque_1{
    width: 30%;
   
    float: left;
    margin-top: 2% ;
    margin-left: 3%;  
    margin-right: 2%;  
    position: relative;
     
   
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#bloque_2{
    width: 30%;
    
    margin-top: 2% ;
    margin-right: 2%;  
    float: left;
    position: relative; 
   
   
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#bloque_3{
    width: 30%;
    
    margin-top: 2% ;
    margin-right: 2%;  
    float: left;
    position: relative; 
    
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}
#bloque_Max{
    width: 94%;
    
    margin-top: 2% ;
    margin-right: 2%;  
    margin-left: 3%; 
    float: left;
    position: relative; 
    background: rgb(255, 255, 255);  
  
    border-radius: 10px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}
#contenido img{
    height: 20%;
    width: 20%;
}
#contenido button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
  }
  #contenido button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }

  

#imagenes {
    width: 40%;
    height: 30em;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
    border-radius: 10px;
    background-color: #a6a6a6;
}
#categoria {
    width: 50%;
    padding: 20px;
    /* height: 30px; */
    margin-top: 2%;
    float: left;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
}


#precio {
    margin: 0 0 10px;
    text-align: left;
    float: left;
    padding: 10px;
    border-radius: 10px;
}
#producto button {
    float: right;
    width: 190px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
}
#crear_producto button {

    float: right;
    width: 150px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
}
#nombre_producto{
    padding: 10px;
    border-radius: 10px;
}
#seleccion_categoria{
    padding: 10px;
    border-radius: 10px;
}
#subir_imagen{
    padding: 10px;
    border-radius: 10px;
}
#crear_producto #imagenes {
    /* width: 40%; */
    /* height: 30em; */
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 2%;
    border-radius: 0px;
     background-color: rgb(255, 255, 255);
}
#imagenes label {
    display: inline-block;
    max-width: 100%;
    margin: 10px;
    font-weight: 700;
}
/* responsive crear producto */
@media screen and (max-width: 650px){ 
   
        #nombre_producto {
            padding: 10px;
            width: 95%;
            height: 40px;
            border-radius: 10px;
        }
        #nombre_producto h2{
            height: 10px;
        }
        #crear_producto #imagenes {
           
            height: auto;
            
        }
}
/* responsive producto */
@media screen and (max-width: 650px){ 
    #imagenes{
    
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%;  
      
    }
    #categoria{
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%;  
       
    }
    #descripcion{
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%;
    }
  
    #precio {
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%; 
    }
    #producto button {
    
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%; 
    }
}
/* bloques del cuerpo responsive */
@media screen and (max-width: 650px){ 
    #bloque_1{
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%;  
      
    }
    #bloque_2{
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%;  
       
    }
    #bloque_3{
        height: auto;
        width: 94%;
        margin-top: 2% ;
        margin-left: 3%;  
        margin-right: 2%;  
      
    }  
    } 
/* PIE DE PAGINA */

.copyright {
    color: #101010;
  }
footer{ 
    background-color: darkgray; 
    text-align: center; 
    border-radius: 5px;
} 