*{ 
    margin: 0%; 
    padding: 0%; 
} 
body{ 
    background-color: rgb(255, 255, 255); 
    color: rgb(68, 68, 68); 
} 
#contenedor{ 
    max-width: 95%; 
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    overflow: hidden; 
} 


/* ENCABEZADO */
header{ 
    height: 6em; 
    background-color:rgb(31, 129, 6);
    color: rgb(255, 255, 255);  
    border-radius: 5px;
    padding-right: 10PX;
     
} 
#encabezado {
    font-size: 1em;
    text-align: right;
    line-height: 8em;
}

/* MENU */
 
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    height: 50px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    border-radius: 5px;
}
.navbar-left {
    float: left;
}

/* CUERPO */
#contenido{ 
        width: 95%;
        height: 50em;
        margin: 50px auto;  
        background: #fff;  
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    
} 
#contenido h2{ 
    font-size: 50px; 
    text-align: center; 
    line-height: 100px; 
   
} 

/* PIE DE PAGINA */

.copyright {
    color: #101010;
  }
footer{ 
    background-color: darkgray; 
    text-align: center; 
    border-radius: 5px;
} 